<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRcatcherMACC"
        tools:targetApi="31">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjX0vD_F7wbaUN-0Xib2o2Yh4P0j6YOgM" />

        <activity
            android:name=".LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Catch"
            android:exported="false"
            android:label="@string/title_activity_catch"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!--
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            -->
        </activity>
        <activity
            android:name=".ui.chat.ChatFragment"
            android:parentActivityName=".Catch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Catch" />
        </activity>
        <activity
            android:name=".ui.compass.CompassFragment"
            android:parentActivityName=".Catch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Catch" />
        </activity>
        <activity
            android:name=".ui.map.MapFragment"
            android:parentActivityName=".Catch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Catch" />
        </activity>

    </application>

</manifest>